@import "../../styles/sass/variables.scss";
@import "../../styles/sass/mixins.scss";

.column {
  border: 1px solid $white;
  background-color: $bg;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-basis: auto;
  min-width: 33%;
  
  text-align: center;
  > h3 {
    padding: $offsetWidth;
    margin: $offsetWidth;
  }
  > header  {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid $white;
    place-content: center;
    place-items: center;
    padding: 4px;
  }
}





.add-button {
  @include button();
}
