.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.base {
  background-color: #0079bf;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;
  font-size: 14px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: max-content auto;
      grid-template-rows: -webkit-max-content auto;
      grid-template-rows: max-content auto;
  grid-gap: 10px;
  height: 100%;
  padding: 5px;
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr 2fr;
      grid-template-columns: 2fr 1fr 2fr;
}

.header .left-aligned {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  grid-gap: 5px;
  justify-self: flex-start;
}

.header .right-aligned {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[5];
      grid-template-columns: repeat(5, auto);
  grid-gap: 5px;
  justify-self: flex-start;
  justify-self: flex-end;
}

.header .logo {
  background-color: rgba(255, 255, 255, 0.3);
  -ms-grid-column-align: center;
      justify-self: center;
}

.board {
  display: -ms-grid;
  display: grid;
  grid-gap: 10px;
  -ms-grid-rows: max-content auto;
      grid-template-rows: -webkit-max-content auto;
      grid-template-rows: max-content auto;
}

.board-header {
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.board-header .left {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[4];
      grid-template-columns: repeat(4, -webkit-max-content);
      grid-template-columns: repeat(4, max-content);
  grid-gap: 10px;
  -ms-grid-column-align: left;
      justify-self: left;
}

.board-header .right {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (max-content)[2];
      grid-template-columns: repeat(2, -webkit-max-content);
      grid-template-columns: repeat(2, max-content);
  grid-gap: 10px;
  -ms-grid-column-align: right;
      justify-self: right;
}

.board-header-text {
  font-weight: bold;
  padding: 5px;
}

.button {
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  padding: 5px;
}

.board-lists {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 272px;
  grid-auto-flow: column;
  grid-gap: 8px;
  overflow: scroll;
}

.board-list {
  background-color: #ebecf0;
  border-radius: 3px;
  display: -ms-grid;
  display: grid;
  grid-auto-rows: -webkit-max-content;
  grid-auto-rows: max-content;
  grid-gap: 10px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 10px;
}

.list-title {
  font-weight: bold;
}

.card {
  background-color: white;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
          box-shadow: 0 1px 0 rgba(9, 30, 66, 0.25);
  padding: 10px;
}

.add-card {
  padding-top: 10px;
  padding-bottom: 5px;
}
/*# sourceMappingURL=App.css.map */